.idea/
/wp-content/themes/twentyfifteen/
/wp-content/themes/twentyseventeen/
/wp-content/themes/twentysixteen/
/wp-content/themes/bike-shop/node_modules/
/wp-content/themes/bike-shop/main.min.css
/wp-content/themes/bike-shop/assets/public/js/main.min.js
.htaccess

